/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/

h3 {
	text-decoration: underline;
	color: white;
	text-align: center;
}

body {
	background-color: #333333
}

th {
  	text-decoration: underline;
}

label {
  	text-decoration: underline;
}

table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber)'.';
    min-width: 1em;
    margin-right: 0.5em;
}


